{% extends 'base.html.twig' %}

{% block body %}

    <main class="main">

        <section id="how-it-works-sect">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="sect-title">
                                <h4>Как это работает</h4>
                            </div>

                            <div class="how-it-works-articles-nav-list">
                                <div class="nav-item-col">

                                    <a href="#how-it-works" class="hiw-article-nav-item">
                    <span class="item-content">
                      <div class="step-num">1</div>
                      <div class="step-descr">Как это работает?</div>
                    </span>
                                    </a>

                                </div>
                                <div class="nav-item-col">

                                    <a href="#no-win-question" class="hiw-article-nav-item">
                    <span class="item-content">
                      <div class="step-num">2</div>
                      <div class="step-descr">Что делать если я не победил?</div>
                    </span>
                                    </a>

                                </div>
                                <div class="nav-item-col">

                                    <a href="#delivery-question" class="hiw-article-nav-item">
                    <span class="item-content">
                      <div class="step-num">3</div>
                      <div class="step-descr">Как получить выигранный товар?</div>
                    </span>
                                    </a>

                                </div>
                                <div class="nav-item-col">

                                    <a href="#are-offers-new" class="hiw-article-nav-item">
                    <span class="item-content">
                      <div class="step-num">4</div>
                      <div class="step-descr">Только новые и оригинальные товары</div>
                    </span>
                                    </a>

                                </div>
                                <div class="nav-item-col">

                                    <a href="#why-offers-are-cheap" class="hiw-article-nav-item">
                    <span class="item-content">
                      <div class="step-num">5</div>
                      <div class="step-descr">Почему товар стоит так дешево?</div>
                    </span>
                                    </a>

                                </div>
                            </div>

                            <br><br>

                            <div id="how-it-works">
                                <h4>Как это работает?</h4>

                                <div class="how-it-works-steps-block">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-4 order-1 order-sm-initial text-center text-sm-left">

                                            <div class="hiw-step-wrap">
                                                <div class="step-circle">
                                                    <span class="step-num">1</span>
                                                    <div id="bet-step" class="step-img" style="background-image: url({{ image_url('default/steps/buy_bet_step.png') }});"></div>
                                                </div>

                                                <div class="step-descr">Покупаете ставки</div>
                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-4 order-3 order-sm-initial mt-4 mt-xs-0 text-center text-sm-center">

                                            <div class="hiw-step-wrap">
                                                <div class="step-circle">
                                                    <span class="step-num">3</span>
                                                    <div class="step-img" style="background-image: url({{ image_url('default/steps/bet_step.png') }});"></div>
                                                </div>

                                                <div class="step-descr">Делаете ставку</div>
                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-4 order-5 order-sm-initial mt-4 mt-sm-0 text-center text-sm-right">

                                            <div class="hiw-step-wrap">
                                                <div class="step-circle">
                                                    <span class="step-num">5</span>
                                                    <div class="step-img" style="background-image: url({{ image_url('default/steps/finish_step.png') }});"></div>
                                                </div>

                                                <div class="step-descr">Если в течение 20 секунд больше нет ставок, то вы победили</div>
                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 order-2 order-sm-initial mt-4 mt-sm-0 text-center text-sm-center">

                                            <div class="hiw-step-wrap ml-sm-5">
                                                <div class="step-circle">
                                                    <span class="step-num">2</span>
                                                    <div id="search-step" class="step-img" style="background-image: url({{ image_url('default/steps/search_step.png') }});"></div>
                                                </div>

                                                <div class="step-descr">Выбираете нужный товар</div>
                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 order-4 order-sm-initial mt-4 mt-sm-0 text-center text-sm-center">

                                            <div class="hiw-step-wrap mr-sm-5">
                                                <div class="step-circle">
                                                    <span class="step-num">4</span>
                                                    <div class="step-img" style="background-image: url({{ image_url('default/steps/wait_step.png') }});"></div>
                                                </div>

                                                <div class="step-descr">Запускается таймер</div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br><br>

                            <div id="no-win-question">
                                <h4>Что делать если я не выйграл?</h4>

                                <div class="box-space-left">
                                    <p>Первое - это не расстраиваться и не унывать. Если вы участвовали в аукционе но не выйграли - вы можете приобрести товар по розничной цене нажав кнопку "<span style="color: #e74c3c;">КУПИТЬ ТОВАР</span>"  Розничная цена указана в описании товара. При оплате за товар ваши ставки потраченные на аукционе будут засчитаны в счет оплаты товара.  Купить товар по розничной цене вы можете в любой момент но не позднее <span style="color: #e74c3c;">3х</span> суток по завершению аукциона.</p>
                                </div>
                            </div>

                            <br><br>

                            <div id="delivery-question">
                                <h4>Как получить выигранный товар?</h4>

                                <div class="box-space-left">
                                    <p>Поздравляем! Вы увидите на аукционе кнопку "ОФОРМИТЬ" вместо кнопки "ЗАВЕРШЕНО", так же кнопка "ОФОРМИТЬ" будет активна в личном кабинете в выйгранном аукционе. Заполните необходимые данные и оплатите товар по аукционной стоимости. <span="style: color=#2980b9;">Внимание!</span> <span style="color: #e74c3c;">Оплату за товар необходимо произвести  в течении 3х суток с момента завершения аукциона</span>. Мы отправим товар по адресу который вы указали при оформлении заказа. Победителю аукциона товар доставляется бесплатно.</p>

                                    <br>

                                    <div class="text-center">
                                        <img src="{{ image_url('default/all_countries_flags.png') }}" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <br><br>

                            <div id="are-offers-new">
                                <h4>Только новые и оригинальные товары.</h4>

                                <div class="box-space-left">
                                    <img src="{{ image_url('default/new_label_medium.png') }}" class="float-right pl-4" alt="">

                                    <p>Даже не сомневайтесь! Мы сотрудничаем только с проверенными поставщиками. Все товары официально произведены либо импортированы в Российскую Федерацию и имеют все необходимые документы, включая Сертификаты Соответствия и Свидетельства о государственной гигиенической регистрации (для тех групп товаров, для которых они необходимы).</p>
                                </div>
                            </div>

                            <br><br>

                            <div id="why-offers-are-cheap">
                                <h4>Почему товар стоит так дешево?</h4>

                                <div class="box-space-left">
                                    <p>ПРИМЕР: На торги выставляется планшет Lenovo рыночной стоимостью 30000 рублей . Начальная аукционная стоимость – 100 рублей. Шаг аукциона 1ставка, поднимает аукционную стоимость на 10 копеек. Стоимость стандартной ставки – 10 рублей. Допустим всего в ходе торгов участвовало 50 человек и было сделано по 100 ставок, один из них участник Дмитрий был последним и оказался победителем. К этому моменту аукционная цена достигла 600 руб. (100 руб. + 5000 ставок х 10 коп.). Дмитрий получит планшет за 1600 руб. (из них, 600 руб. – аукционная цена, + 1000 рублей Дмитрий потратил на 100 ставок по 10 рублей каждая). Итого, Дмитрий сэкономил 28400 рублей. Поздравляем-Удачная покупка!</p>
                                </div>
                            </div>

                            <br><br>

                            <div>
                                <h4>У Вас есть вопросы?</h4>

                                <div class="box-space-left">
                                    <p>Пожалуйста заполните <a href="http://trailer.beget.tech/profile/support">форму Обратной связи</a>и мы свяжемся с вами в ближайшее время.</p>
                                </div>
                            </div>

                            <br>

                        </div>
                    </div>
                </div>
            </section>

        <section id="happy-clients-sect">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="sect-title">
                                <h4>Счастливые клиенты</h4>
                            </div>

                            <div class="testimonials-carousel owl-carousel">
                                <div class="testimonial-item card-box">
                                    <div class="testimonial-photo"></div>

                                    <div class="testimonial-descr">
                                        <div class="author-name">Сергей Пономарев</div>
                                        <div class="autor-location">г. Брест</div>
                                        <div class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione eligendi et repellendus, in commodi quidem maxime.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

    </main>
{% endblock %}