{% extends 'base.html.twig' %}

{% block body %}

    <main class="main" ng-controller="AuctionDetailController as auctionDetail" ng-init="auctionDetail.init('{{ auction | json_encode }}')">

        <section id="product-offer-inner-sect">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="product-offer-inner-wrapper">
                            <div class="product-main">
                                <div class="row">
                                    <div class="col-md-7">

                                        <div class="product-image-gallery-wrap card-box">
                                            <div class="box-body">

                                                <div class="product-image-gallery owl-carousel">
                                                {% for image in auctionObject.photos %}
                                                    <div class="gallery-slide">
                                                        <div class="product-img-wrap">
                                                            <img src="{{ image_url(image) }}" alt="">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                </div>

                                                <h5 class="product-title">{{ auctionObject.name }}</h5>

                                            </div>
                                        </div>

                                    </div>
                                    <div id="product-auction-bet-col" class="col-md-5 mt-4 mt-md-0">

                                        <div class="product-auction-bet-form product-auction-bet-form-with-autostake card-box">
                                            <div class="bet-form-main">
                                                <div class="user-balance-wrap">Ваш баланс: <span id="bet-count" ng-bind="app.getCurrentUser().stakes"></span> ставок</div>

                                                <div ng-show="auctionDetail.auction.isSoon">
                                                    <div class="offer-time-to-end-box"><div id="time-countdown-{{ '{{ auctionDetail.auction.id }}' }}" element-key="{{ '{{ auctionDetail.auction.id }}' }}" class="time-countdown"></div></div><br />
                                                    <div style="text-align: center; font-size: 16px; font-weight: 700;">Скоро начало</div>
                                                </div>
                                                <div ng-show="auctionDetail.auction.isProcessing">
                                                    <div class="offer-rate-sum-box">{{ '{{ auctionDetail.auction.cost }}' }} руб.</div>
                                                    <div class="offer-time-to-end-box"><div id="time-countdown-{{ '{{ auctionDetail.auction.id }}' }}" element-key="{{ '{{ auctionDetail.auction.id }}' }}" class="time-countdown"></div></div>
                                                    <button id="product-offer-bet-btn" ng-click="auctionDetail.makeStake( auctionDetail.auction.id )" class="bttn bttn-sm bttn-block bttn-rounded bttn-green">Сделать ставку</button>
                                                </div>
                                                <div ng-show="auctionDetail.auction.isFinish">
                                                    <div class="offer-end-date">{{ '{{ auctionDetail.auction.endAt | date: \'dd.MM.yyyy HH:mm:ss\' }}' }}</div>

                                                    <div class="offer-winner-name">Выиграл пользователь с ником <b style="color: red;">{{ '{{ auctionDetail.auction.winner }}' }}</b></div>

                                                    <div class="offer-controls" ng-show="auctionDetail.auction.winner">
                                                        <a ng-show="app.isCurrentUserByUserName(auctionDetail.auction.winner)" href="{{ path("profile_create_order", {id: auctionObject.id}) }}" class="bttn bttn-sm bttn-green bttn-rounded">Оформить</a>
                                                        <a ng-hide="app.isCurrentUserByUserName(auctionDetail.auction.winner)" href="" class="bttn bttn-sm bttn-silver bttn-rounded">Завершено</a>
                                                    </div>
                                                    <div class="offer-controls" ng-hide="auctionDetail.auction.winner">
                                                        <a href="" class="bttn bttn-sm bttn-silver bttn-rounded">Не состоялся</a>
                                                    </div>
                                                </div>

                                                <div class="user-profile-info-wrap" ng-show="app.isUserLoggedIn()">
                                                    <div class="user-profile-info">
                                                        <div class="profile-img"><img ng-src="/images/{{ '{{ app.getCurrentUser().photo }}' }}" alt=""></div>

                                                        <div class="profile-user-descr">
                                                            <div class="name" ng-bind="app.getCurrentUser().username"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            {% include('client/stake/create_autostake.html.twig') with {'isHasAutoStake': isHasAutoStake, 'auction': auction } %}

                                            <ul style="list-style-type: none;">
                                                <li ng-repeat="stake in auctionDetail.auction.stakes">
                                                    <table style="margin: 0; border-collapse: collapse; width: 100%;">
                                                        <tbody>
                                                        <tr>
                                                            <td style="text-align:left;padding:0;color:#222B35;width:22%;" ng-bind="stake.time"></td>
                                                            <td style="text-align:left;padding:0;" ng-bind="stake.username"></td>
                                                            <td style="text-align:right;padding:0;color:#222B35; width:30%;" ng-bind="stake.cost + 'руб.'"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="product-footer">
                                <h4 class="text-center">Технические характеристики</h4>

                                {{ auctionObject.characteristics | raw }}

                                <h4 class="text-center">Условия аукциона</h4>

                                {{ auctionObject.conditions | raw }}

                                <div class="text-right mt-4" ng-show="app.isUserLoggedIn()">
                                    <a href="{{ path('profile_user_support') }}" class="bttn bttn-sm bttn-rounded bttn-luminous-red">Задать вопрос</a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        {{ render(controller('App\\Controller\\AuctionController::showLastFinishedAuctionsAction')) }}

    </main>

{% endblock %}