<div class="product-offer card-box">
    <div class="box-body">
        <span class="offer-present-label"><img src="{{ image_url('default/present_small.png')}}" alt=""></span>
        <span class="offer-new-label"><img src="{{ image_url('default/new_label.png')}}" alt=""></span>

        <div class="offer-img-wrap">
            <a href="{{ path("show_auction_details", {id: auction.id}) }}" class="offer-img" style="background-image: url({{ image_url(auction.mainPhoto)}});"></a>
        </div>

        <h4 class="offer-title"><a href="{{ path("show_auction_details", {id: auction.id}) }}">{{ auction.name }}</a></h4>

        <div class="offer-rate-sum-box">{{ auction.cost }} руб.</div>

        <div class="offer-end-date">{{ auction.endAt | date("d.m.Y H:i") }}</div>

        <div class="offer-winner-name">
            {% if auction.winner %}
                <span class="simple-text-winner">Выиграл пользователь с ником</span>
            {% endif %}
            {{ auction.winner ?  auction.winner.username : "" }}
        </div>

        <div class="offer-controls">
            {% if not auction.winner %}
                <a href="" class="bttn bttn-sm bttn-silver bttn-rounded">Не состоялся</a>
            {% elseif auction.endAt %}
                <a href="" class="bttn bttn-sm bttn-silver bttn-rounded">Завершено</a>
            {% else %}
                <a href="{{ path("profile_create_order", {id: auction.id}) }}" class="bttn bttn-sm bttn-green bttn-rounded">Оформить</a>
            {% endif %}
        </div>
    </div>
</div>