{% extends 'base.html.twig' %}

{% block body %}
    {#<h1>Завершённые аукционы</h1>#}
    {#{% for auction in lastFinishedAuctions%}#}
        {#<p>{{ auction.name }}</p>#}
        {#<img src="{{ image_url(auction.mainPhoto) }}" style="max-height: 100px"/><br />#}
    {#{% endfor %}#}
    <main class="main" ng-init="default_image_directory = '{{ default_image_directory }}';
    image_directory = '{{ image_directory }}';
    main.init('{{ currentAuctions | json_encode }}')" ng-controller="MainController as main">

        <section id="header-main-slider-sect">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="header-main-slider owl-carousel">
                            {% for slide in sliderImages %}
                                <div class="header-slide-wrapper">
                                    <div class="slide-content">
                                        <div class="row">
                                            <div class="col-md-5 d-none d-md-block">
                                                <div class="slide-img-wrap">
                                                    <img src="{{ image_url(slide) }}" class="slide-img" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="product-offers-list-sect">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="product-offers-list-wrapper">

                            <div class="product-offers-list-filters-bar">
                                <div class="product-offers-sort-select-wrap">
                                    <span class="select-text">Сортировать</span>

                                    <div class="backdrop"></div>

                                    {% set queryParams = app.request.query.all %}
                                    {% set categories = queryParams["categories"] is defined ? queryParams["categories"] : [] %}
                                    {% set times = queryParams["times"] is defined ? queryParams["times"] : [] %}

                                    <form  id="filter-form-main-page" method="GET" action="{{ path("list_products", {"page" : page }) }}" novalidate enctype="multipart/form-data">
                                        <div class="select-dropdown">
                                            <div class="select-cols">
                                                <div class="select-col">
                                                    <h6 class="col-title">Категория товара:</h6>

                                                    <fieldset class="form-group">
                                                        <label class="custom-checkbox input-filled input-highlight">
                                                            все категории
                                                            <input type="checkbox" name="categories[]" value="all" {{ categories|length == 0 or 'all' in categories ? 'checked' : ''}}>
                                                            <span class="checkmark"></span>
                                                        </label>

                                                        {% for key, item in allCategories %}
                                                            <label class="custom-checkbox input-filled input-highlight">
                                                                {{ key }}
                                                                <input type="checkbox" name="categories[]" value="{{ item }}" {{ item in categories ? 'checked' : ''}}>
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        {% endfor %}

                                                    </fieldset>
                                                </div>

                                                <div class="select-col">
                                                    <h6 class="col-title">Время начала:</h6>

                                                    <fieldset class="form-group">
                                                        <label class="custom-checkbox input-filled input-highlight">
                                                            все аукционы
                                                            <input type="checkbox" name="times[]" value="all" {{ times|length == 0 or 'all' in times ? 'checked' : ''}}>
                                                            <span class="checkmark"></span>
                                                        </label>

                                                        <label class="custom-checkbox input-filled input-highlight">
                                                            активные аукционы
                                                            <input type="checkbox" name="times[]" value="active" {{ 'active' in times ? 'checked' : ''}}>
                                                            <span class="checkmark"></span>
                                                        </label>

                                                        <label class="custom-checkbox input-filled input-highlight">
                                                            будущие аукционы
                                                            <input type="checkbox" name="times[]" value="soon" {{ 'soon' in times ? 'checked' : ''}}>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </fieldset>
                                                </div>

                                                {#<div class="select-col">#}
                                                    {#<h6 class="col-title">Тип аукциона:</h6>#}

                                                    {#<fieldset class="form-group">#}
                                                        {#<label class="custom-checkbox input-filled input-highlight">#}
                                                            {#все типы#}
                                                            {#<input type="checkbox">#}
                                                            {#<span class="checkmark"></span>#}
                                                        {#</label>#}

                                                        {#<label class="custom-checkbox input-filled input-highlight">#}
                                                            {#простые аукционы#}
                                                            {#<input type="checkbox" checked>#}
                                                            {#<span class="checkmark"></span>#}
                                                        {#</label>#}

                                                        {#<label class="custom-checkbox input-filled input-highlight">#}
                                                            {#хиты продаж#}
                                                            {#<input type="checkbox">#}
                                                            {#<span class="checkmark"></span>#}
                                                        {#</label>#}
                                                    {#</fieldset>#}
                                                {#</div>#}
                                            </div>

                                            <div class="sort-btn-wrap">
                                                <button id="filter-apply-btn" type="submit" class="bttn bttn-sm bttn-rounded bttn-green">Применить</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="user-balance-wrap" ng-show="app.isUserLoggedIn()">ВАШ БАЛАНС: <span id="bet-count" ng-bind="app.getCurrentUser().stakes"></span> ставок</div>
                            </div>

                            <div class="product-offers-list">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4" ng-repeat="auction in main.currentAuctions">

                                        {#@@todo product block#}
                                        <div class="product-offer card-box">
                                            <div class="box-body">
                                                <span class="offer-present-label"><img ng-src="{{'{{ default_image_directory }}'}}/present_small.png" alt=""></span>
                                                <span class="offer-new-label"><img ng-src="{{'{{ default_image_directory }}'}}/new_label.png" alt=""></span>

                                                <div class="offer-img-wrap">
                                                    <a href="#" class="offer-img" style="background-image: url({{ '{{ image_directory + auction.mainPhoto}}' }});"></a>
                                                </div>

                                                <h4 class="offer-title"><a href="#">{{ '{{ auction.name }}' }}</a></h4>

                                                <div ng-show="auction.isSoon">
                                                    <p><b>Скоро</b></p>
                                                </div>
                                                <div ng-show="auction.isProcessing">
                                                    <div class="offer-rate-sum-box">{{ '{{ auction.cost }}' }} руб.</div>
                                                    <div class="offer-time-to-end-box"><div id="time-countdown-{{ '{{ auction.id }}' }}" element-key="{{ '{{ auction.id }}' }}" class="time-countdown"></div></div>
                                                </div>
                                                <div ng-show="auction.isFinish">
                                                    <p><b>Завершён</b></p>
                                                </div>

                                                <div class="offer-controls" ng-show="auction.isProcessing">
                                                    <a href="" class="bttn bttn-sm bttn-block bttn-rounded bttn-red">Подробнее</a>
                                                    <a href="" ng-click="main.makeStake( auction.id )" class="bttn bttn-sm bttn-block bttn-rounded bttn-green">Ставка</a>
                                                </div>
                                            </div>
                                        </div>
                                        {#end of product block#}

                                    </div>
                                </div>
                            </div>

                            <div class="product-offers-list-navi-wrapper">
                                <div class="offers-navi-controls">
                                    {% set canBackAuctions = page > 1 %}
                                    <a href="{{ path("list_products", {"page" : page - 1 }) ~ query }}" class="offer-nav-btn prev {{ canBackAuctions ? "" : "disabled" }}"><i class="fa fa-long-arrow-left"></i></a>
                                    <a href="{{ path("list_products", {"page" : page + 1 }) ~ query }}" class="offer-nav-btn next {{ leftCount > 0 ? "" : "disabled" }}"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        {% if soonProduct %}
            <section id="soon-auction-updates-info-sect">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="sect-title">
                                <h4>Скоро на аукционах</h4>
                            </div>

                            <div class="row">
                                <div class="col-md-5">

                                    <div class="img-with-descr-wrap">
                                        <div class="content">
                                            <img src="{{ image_url(soonProduct.image) }}" class="img-fluid" alt="">
                                            <p class="title">{{ soonProduct.name }}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-7 mt-4 mt-md-0">
                                    <p>{{ soonProduct.description }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {{ render(controller('App\\Controller\\AuctionController::showLastFinishedAuctionsAction')) }}
    </main>

{% endblock %}