<!DOCTYPE html>
<html ng-app="appAuction">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="SEO Description">
        <meta name="keywords" content="keywords">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta property="og:image" content="path/to/image.jpg">
        <meta property="og:title" content="og_title"/>
        <meta property="og:description" content="og_description"/>

        <title>Title</title>
        <link rel="shortcut icon" href="{{ image_url('favicon/favicon.ico') }}" type="image/x-icon">

        <link rel="stylesheet" href="/build/css/bower_components.min.css">
        <link rel="stylesheet" href="/build/css/styles.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#{% block stylesheets %}{% endblock %}#}
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>
    </head>
    <body ng-cloak ng-controller="AppController as app" ng-init="app.init({{ app.user ? "'" ~ app.user.toArray | json_encode ~ "'" : null }})">
        <div ng-controller="SecurityController as security">
            {#start mobile sidebar#}
            <div id="sidebarMenu" class="sidebar-menu">
                <div class="sidebar-header">

                    <div class="sidebar-auth-controls-wrap">
                        <a href="{{ logout_path("main") }}" class="sidebar-logout-btn-block" ng-show="app.isUserLoggedIn()">
                          <span class="text">Выход</span>
                          <span class="icon"><i class="fa fa-sign-in"></i></span>
                        </a>

                        <div nohref ng-click="security.loginClick()" id="login-modal-trigger" class="sidebar-login-btn-block" ng-hide="app.isUserLoggedIn()">
                            <span class="text">Вход</span>
                            <span class="icon"><i class="fa fa-sign-in"></i></span>
                        </div>

                        <div nohref ng-click="security.registerClick()" id="register-modal-trigger" class="sidebar-register-btn-block" ng-hide="app.isUserLoggedIn()">
                            <span class="text">Регистрация</span>
                            <span class="icon"><i class="fa fa-address-card-o"></i></span>
                        </div>
                    </div>

                </div>

                <div class="sidebar-main">

                    <div class="sidebar-profile-nav" ng-show="app.isUserLoggedIn()">
                      <a href="#" class="profile-bar">
                        <div class="profile-img"><img ng-src="/images/{{ '{{ app.getCurrentUser().photo }}' }}" alt=""></div>

                        <div class="profile-name-wrap">
                          <div class="name" ng-bind="app.getCurrentUser().username"></div>
                          <div class="profile-nav-text">Личный кабинет</div>
                        </div>
                      </a>

                      <ul class="profile-nav">
                        <li class="nav-item"><a href="{{ path("profile_my_auctions") }}">Мои аукционы</a></li>
                        <li class="nav-item"><a href="{{ path("profile_stakes") }}">Ставки</a></li>
                        <li class="nav-item"><a href="{{ path("profile_history") }}">Выигранные</a></li>
                        <li class="nav-item"><a href="{{ path("profile_private_data") }}">Данные</a></li>
                        <li class="nav-item"><a href="{{ path("profile_user_support") }}">Помощь</a></li>
                      </ul>
                    </div>

                    <ul class="main-sidebar-nav">
                        <li class="nav-item active"><a href="{{ path("list_products") }}">Все аукционы</a></li>
                        <li class="nav-item"><a href="{{ path("how_it_works") }}">Как это работает</a></li>
                        <li class="nav-item"><a href="{{ path("delivery_help") }}">Доставка</a></li>
                        <li class="nav-item"><a href="{{ path("faq") }}">Вопросы-ответы</a></li>
                        <li class="nav-item"><a href="{{ path("bonus_page") }}">Бонусы</a></li>
                        <li class="nav-item"><a href="{{ path("profile_user_support") }}">Обратная связь</a></li>
                        <li class="nav-item"><a href="{{ path("about_us") }}">О Lucky-deal</a></li>
                    </ul>

                </div>
            </div>
            {#end mobile sidebar#}
            <div id="main-wrap" class="main-wrapper">

                <header class="main-header">
                    <div class="header-main">
                        <div class="container">
                            <div class="row">
                                <div id="header-logo-col" class="header-main-col col-6 col-xs-4 col-md-3">

                                    <div class="logo-wrapper">
                                        <a href="/" class="logo" style="background-image: url({{ image_url('default/logo.png') }});"></a>
                                    </div>

                                </div>
                                <div class="header-main-col col-2 d-none d-md-flex" ng-show="app.isUserLoggedIn()">

                                  <a href="{{ logout_path("main") }}" class="header-logout-btn-block">
                                    <span class="text">Выход</span>
                                    <span class="icon"><i class="fa fa-sign-in"></i></span>
                                  </a>

                                </div>
                                <div class="header-main-col col-3 d-none d-md-flex" ng-show="app.isUserLoggedIn()">

                                  <div class="header-profile-nav">
                                    <a href="#" class="profile-img"><img ng-src="/images/{{ '{{ app.getCurrentUser().photo }}' }}" alt=""></a>

                                    <div class="profile-name-wrap">
                                      <div class="name"><a nohref ng-bind="app.getCurrentUser().username"></a></div>
                                      <div class="profile-nav-text"><a href="#">Личный кабинет</a> <i class="fa fa-caret-down"></i></div>
                                    </div>

                                    <ul class="profile-nav">
                                        <li class="nav-item"><a href="{{ path("profile_my_auctions") }}">Мои аукционы</a></li>
                                        <li class="nav-item"><a href="{{ path("profile_stakes") }}">Ставки</a></li>
                                        <li class="nav-item"><a href="{{ path("profile_history") }}">Выигранные</a></li>
                                        <li class="nav-item"><a href="{{ path("profile_private_data") }}">Данные</a></li>
                                        <li class="nav-item"><a href="{{ path("profile_user_support") }}">Помощь</a></li>
                                    </ul>
                                  </div>
                                </div>

                                <div class="header-main-col col-2 d-none d-md-flex" ng-hide="app.isUserLoggedIn()">

                                    <a nohref ng-click="security.loginClick()" id="login-modal-trigger" class="header-login-btn-block">
                                        <span class="text">Вход</span>
                                        <span class="icon"><i class="fa fa-sign-in"></i></span>
                                    </a>

                                </div>
                                <div class="header-main-col col-3 d-none d-md-flex" ng-hide="app.isUserLoggedIn()">

                                    <a nohref ng-click="security.registerClick()" id="register-modal-trigger" class="header-register-btn-block">
                                        <span class="text">Регистрация</span>
                                        <span class="icon"><i class="fa fa-address-card-o"></i></span>
                                    </a>

                                </div>
                                <div id="header-phone-col" class="header-main-col col-xs-5 col-md-4 order-3 order-xs-initial">

                                    <div class="header-phone-wrapper">
                                        <a href="tel:7 (920) 318-48-40" class="phone-wrapper">
                                            <span class="icon"><i class="fa fa-phone"></i></span>
                                            <span class="phone">8 (920) 318-48-40</span>
                                            <span id="phone-support-icon-wrap" class="icon"><img src="{{ image_url('default/callcenter_woman_icon.png') }}" alt=""></span>
                                        </a>

                                        <div class="phone-subcr"><!--24 часа, звонок по России бесплатный--></div>
                                    </div>

                                </div>
                                <div id="header-toggle-sidemenu-btn-col" class="header-main-col col-6 col-xs-3 order-2 order-xs-initial d-md-none">

                                    <div id="toggleSideMenuBtn" class="toggle-mnu-wrapper">
                                        <div class="toggle-mnu active sandwich">
                                            <div class="sw-topper"></div>
                                            <div class="sw-bottom"></div>
                                            <div class="sw-footer"></div>
                                        </div>

                                        <span class="toggle-mnu-text">Меню</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="header-nav-wrapper d-none d-md-flex">
                        <div class="container">
                            <div class="row">

                                <ul class="main-header-nav">
                                    <li class="nav-item active"><a href="{{ path("list_products") }}">Все аукционы</a></li>
                                    <li class="nav-item"><a href="{{ path("how_it_works") }}">Как это работает</a></li>
                                    <li class="nav-item"><a href="{{ path("delivery_help") }}">Доставка</a></li>
                                    <li class="nav-item"><a href="{{ path("faq") }}">Вопросы-ответы</a></li>
                                    <li class="nav-item"><a href="{{ path("bonus_page") }}">Бонусы</a></li>
                                    <li class="nav-item"><a href="{{ path("profile_user_support") }}">Обратная связь</a></li>
                                    <li class="nav-item"><a href="{{ path("about_us") }}">О Lucky-deal</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </header>
            {% block body %}{% endblock %}
                {#start footer#}
                <footer class="main-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4 col-lg-3 col-xl-2 offset-xl-1 order-lg-2">

                                <div class="footer-column footer-nav-col">
                                    <div class="footer-nav-list-title">Auction</div>

                                    <ul class="footer-nav-list">
                                        <li class="nav-item"><a href="{{ app.user ? path("list_products") : "" }}">Все аукционы</a></li>
                                        <li class="nav-item"><a href="{{ app.user ? path("profile_my_auctions") : "" }}">Мои аукционы</a></li>
                                        <li class="nav-item"><a href="{{ app.user ? path("profile_private_data") : "" }}">Личный кабинет</a></li>
                                        <li class="nav-item"><a href="{{ app.user ? path("buy_stakes") : "" }}">Купить ставки</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-xs-4 col-lg-3 order-lg-3 mt-4 mt-xs-0">

                                <div class="footer-column footer-nav-col">
                                    <div class="footer-nav-list-title">Важная информация</div>

                                    <ul class="footer-nav-list">
                                        <li class="nav-item"><a href="{{ path("terms_of_use") }}">Пользовательское соглашение</a></li>
                                        <li class="nav-item"><a href="{{ path("terms_of_sale") }}">Условия купли-продажи</a></li>
                                        <li class="nav-item"><a href="{{ path("processing_personal_data") }}">Обработка персональных данных</a></li>
                                        <li class="nav-item"><a href="{{ path("referral_program") }}">Реферальная система</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-xs-4 col-lg-3 order-lg-4 mt-4 mt-xs-0">

                                <div class="footer-column footer-nav-col">
                                    <div class="footer-nav-list-title">Полезные ссылки</div>

                                    <ul class="footer-nav-list">
                                        <li class="nav-item"><a href="{{ path("how_it_works") }}">Как это работает</a></li>
                                        <li class="nav-item"><a href="">Новости</a></li>
                                        <li class="nav-item"><a href="{{ path("faq") }}">Вопросы-ответы</a></li>
                                        <li class="nav-item"><a href="{{ path("delivery_help") }}">Доставка</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-lg-3 order-lg-1 mt-4 mt-lg-0">

                                <div id="footer-logo-col" class="footer-column">
                                    <div class="footer-logo-wrapper">
                                        <div class="logo-wrapper">
                                            <a href="/" class="logo" style="background-image: url({{ image_url('default/logo.png') }});"></a>
                                        </div>

                                        <div class="footer-logo-subscr">Магазин-аукцион</div>
                                    </div>

                                    <div class="footer-socials-list-wrap">
                                        <p class="socials-title">Присоединяйтесь к нам</p>

                                        <ul class="socials-list">
                                            <li><a target="_blank" class="social-link small"><i class="fa fa-vk"></i></a></li>
                                            <li><a target="_blank" class="social-link small"><i class="fa fa-instagram"></i></a></li>
                                            <li><a target="_blank" class="social-link small"><i class="fa fa-facebook"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </footer>
                {#end footer#}

                {#start login modal#}
                <div id="login-modal" class="login-modal card-box mfp-hide mfp-with-anim">
                    <div id="login-box-body" class="box-body" ng-init="login.init('login')" ng-controller="LoginController as login" ng-bind-html="login.loginForm">
                    </div>
                </div>
                {#end login modal#}

                {#start register modal#}
                <div id="register-modal" class="register-modal card-box mfp-hide mfp-with-anim">
                    <div class="box-title">
                        <div class="logo-wrapper">
                            <span class="logo" style="background-image: url({{ image_url('default/logo.png') }});"></span>
                        </div>
                    </div>

                    <div id="register-box-body" class="box-body" ng-controller="RegistrationController as register">
                        <div class="row no-gutters">
                            <div id="register-col" class="col-xs-6"  ng-bind-html="register.registrationForm">
                            </div>
                            <div class="col-xs-6">
                                <div class="login-wrapper" ng-init="login.init('registration')" ng-controller="LoginController as login" ng-bind-html="login.loginRegisterForm">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {#end register modal#}

                {#start forgot password modal#}
                <div id="forgot-password-modal" class="login-modal card-box mfp-hide mfp-with-anim">
                    <div id="login-box-body" class="box-body" ng-controller="ForgotPasswordController as forgotPassword" ng-bind-html="forgotPassword.form">
                    </div>
                </div>
                {#end forgot password modal#}

                <span id="close-sidebar-btn"><i class="fa fa-close"></i></span>

                <div id="to-top-btn" class="to-top"><i class="fa fa-angle-up"></i></div>

            </div>
        </div>
        {#{% block javascripts %}{% endblock %}#}
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- htmlbuild:js -->
        <script type="text/javascript" src="/build/js/libs.min.js?1"></script>
        <script type="text/javascript" src="/build/js/bower_components.min.js?1"></script>
        <script type="text/javascript" src="/build/js/client.min.js?1"></script>
        <!-- endbuild -->
    </body>
</html>
