<form id="forgot-password-form" method="post" novalidate enctype="multipart/form-data">
    {{ form_widget(form._token) }}
    <h6 class="login-title">Восстановление пароля</h6>
    {% for key, error in form.vars.errors.form.getErrors(true)%}
        <p style="color: red">{{ error.message }}</p>
    {% endfor %}

    <div class="login-controls">
        <fieldset class="form-group" style="display: {{ step == 1 ? 'block' : 'none' }}">
            {{ form_widget(form.email, {attr: {class: 'fg-input input-block', placeholder: 'Введите email'}} ) }}
        </fieldset>

        {% if step == 2 %}
            <fieldset class="form-group">
                {{ form_widget(form.code, {attr: {class: 'fg-input input-block', placeholder: 'Введите код'}} ) }}

                <a id="send-forgot-password-again" nohref style="cursor: pointer; text-decoration: underline">Отправить повторно</a>
            </fieldset>
        {% endif %}

        {% if step == 3 %}
            <fieldset class="form-group">
                {{ form_widget(form.password.first, {attr: {class: 'fg-input input-block', placeholder: 'Введите новый пароль'}} ) }}
            </fieldset>

            <fieldset class="form-group">
                {{ form_widget(form.password.second, {attr: {class: 'fg-input input-block', placeholder: 'Подтвердите пароль'}} ) }}
            </fieldset>
        {% endif %}
        {{ form_widget(form.step, {value: step, attr: {class: 'hidden-step-forgot-password'}}) }}

        {% if step == 4 %}
            Пароль восстановлен. Вы теперь можете войти используя новый пароль
        {% endif %}
    </div>

    {% if step != 4 %}
        <div class="login-btn-wrap">
            {{ form_widget(form.submit, {attr: {class: 'bttn bttn-sm bttn-red'}, label: 'Дальше'}) }}
        </div>
    {% endif %}
</form>